
// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 50px 235px;
  text-align: center;
}

.form_container {
  border-top: 20px solid #94837c;
  box-shadow: 1px 1px 24px 1px #888888;
}

h1 {
  font-size: 4em;
  margin:0;
}

.container{
  width: 100%;
  margin: 0 auto;

}

#main_task {
  background-color: #f5f5f5;
  font-size: 20px;
  width: 483px;
  font-style: italic;
  font-weight: normal;
  padding: 10px 0px 10px 40px;
  border: none;
}

.todo_list {
  list-style-type: none;
  padding: 0;
  margin: 0px;

  li {
    border-bottom: 1px dotted grey;
    width: 594px;
    position: relative;
    top: 0px;
    left: 0px;

  }
  p {
    display: inline-block;
    width: 548px;
    text-align: left;
  }

}


.X, .check {
  cursor: pointer;
  display: inline-block;
}

.X {
  float: right;
}

.check{
  margin-right: 10px;
  float: left;
}

.done {
  text-decoration: line-through;
}

.bottom-bar {

  p, ul, li, a, button{
  display: inline-block;
  color: grey;
  }

  a:hover, button:hover {
    color: blue;

  }

  ul {

    li a {
      text-decoration: none;

    }

  }

  p {
    float: left;
    margin-left: 10px;

  }

  button {
    float: right;
    margin: 16px;
  }
}

.edit {
  display: inline;
  width: 150px;
  top: 0px;
  left: 49px;
  border-top: none;
  background: #fafafa;
}

.hide {
  display: none;
}
